/node_modules
/public/hot
/public/storage
/public/fonts
/public/css
/public/images/users
/public/js
/public/mix-manifest.json
/public/report.html
/storage/*.key
/storage/dev
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
result.xml

._.DS_Store
.DS_Store
/storage/debugbar/*
spreadsheet_credential.json

/resources/assets/js/vue-i18n-locales.generated.js
/resources/assets/js/const.json

/public/pdfjsWorker.js
/public/*.worker.js

/.vscode/launch.json
